{% extends "layout.html" %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
Merhaba, ben Can. Gazi Üniversitesi Bilgisayar Mühendisliği öğrencisiyim. 
Python ve Flask kullanarak Blog sayfası tasarlamayı öğreniyorum.
<hr>
<a href="https://www.linkedin.com/in/can-akda%C4%9F-2896ba161/" target="_blank" class="fa fa-linkedin"></a>

<style scoped>
    .fa:hover {
        opacity: 0.7;
    }
    .fa-linkedin {
        background: #292b2c;
        color: white;
        padding: 10px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }
</style>
{% endblock body %}
